.Discover {
	width: 100%;
	justify-content: center;
	z-index: var(--closer);
	flex-wrap: wrap-reverse;

	.chosen {
		background-color: var(--dark);
		color: var(--light);
	}

	.clearButton {
		position: sticky;
		top: 0;
		background-color: var(--dark-tint);
		color: var(--light);
	}
}
