.Badge {
	border-radius: var(--br);
	padding: var(--space-sm);
	line-height: var(--line-none);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-xs);
	color: var(--light);
	font-family: var(--jet-brains);
	background-color: var(--special-tint);
	font-weight: var(--bold);
}
