:root {
	box-sizing: border-box;
	// scroll-behavior: smooth;
	background-color: var(--dark);
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

#__next {
	height: 100vh;
	position: relative;
}
