.HomeRoute {
	opacity: 0;
	animation-name: appear;
	animation-duration: var(--slow);
	animation-fill-mode: forwards;
	animation-delay: var(--quicker);
	position: relative;

	.banner {
		font-size: var(--text-4xl);
	}
}

@keyframes appear {
	100% {
		opacity: 1;
	}
}
