.GameCard {
	background-color: var(--dark-tint);
	height: 100%;
	font-size: var(--space-md);
	border-radius: var(--br);
	gap: 0;

	.head {
		width: 100%;
		justify-content: space-between;
		padding: var(--space-md);
	}

	.meta {
		justify-content: space-between;
		width: 100%;
		padding: var(--space-md);

		* {
			width: auto;
		}
	}
}
