.Header {
	z-index: var(--closest);
	border-bottom: var(--outline);
	backdrop-filter: var(--blur);
	padding: var(--space-xl) 0;
	position: sticky;
	top: 0;

	.content {
		flex-wrap: wrap;
	}

	a {
		svg {
			font-size: var(--text-6xl);
		}
	}
}
