.Header {
	z-index: var(--closest);
	border-bottom: var(--outline);
	backdrop-filter: var(--blur);
	padding: var(--space-xl) 0;
	position: sticky;
	top: 0;
	opacity: 0;
	transform: translateY(-100%);
	animation-name: appear;
	animation-duration: var(--quicker);
	animation-fill-mode: forwards;

	.content {
		flex-wrap: wrap;
	}

	a {
		svg {
			font-size: var(--text-6xl);
		}
	}
}

@keyframes appear {
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
